#Getting Started with PySpark in Google Colab

PySpark is Python interface for Apache Spark. The primary use cases for PySpark are to work with huge amounts of data and for creating data pipelines.

You don't need to work with big data to benefit from PySpark. I find that the SparkSQL is a great tool for performing routine data anlysis. Pandas can get slow and you may find yourself writing a lot of code for data cleaning whereas the same actions take much less code in SQL. Let's get started!

See more here! http://spark.apache.org/docs/latest/api/python/

# 1. Installing PySpark in Google Colab

In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,104 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,358 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,920 kB]
Fetched 5,615 kB in 5s (1,132 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
45 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=668fc003b4e8eb172e3476a573171ea4aa9517313e14b924f0a701b195215e48
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [ ]:
spark

# 2. Reading Data

For this example, I am going to use a publicly available data set in a CSV format.

In [ ]:
import requests
path = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'owid-covid-data.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)

#3. PySpark DataFrames

In [ ]:
#Viewing the dataframe schema
df.printSchema()

root
 |-- iso_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- total_cases: double (nullable = true)
 |-- new_cases: double (nullable = true)
 |-- new_cases_smoothed: double (nullable = true)
 |-- total_deaths: double (nullable = true)
 |-- new_deaths: double (nullable = true)
 |-- new_deaths_smoothed: double (nullable = true)
 |-- total_cases_per_million: double (nullable = true)
 |-- new_cases_per_million: double (nullable = true)
 |-- new_cases_smoothed_per_million: double (nullable = true)
 |-- total_deaths_per_million: double (nullable = true)
 |-- new_deaths_per_million: double (nullable = true)
 |-- new_deaths_smoothed_per_million: double (nullable = true)
 |-- reproduction_rate: double (nullable = true)
 |-- icu_patients: double (nullable = true)
 |-- icu_patients_per_million: double (nullable = true)
 |-- hosp_patients: double (nullable = true)
 |-- hosp_patients_per_million: double (nullable = true)
 |-- weekly_icu_admissions: double (nullable = true)
 |-- weekly_icu_admissions_per_million: double (nullable = true)
 |-- weekly_hosp_admissions: double (nullable = true)
 |-- weekly_hosp_admissions_per_million: double (nullable = true)
 |-- total_tests: double (nullable = true)
 |-- new_tests: double (nullable = true)
 |-- total_tests_per_thousand: double (nullable = true)
 |-- new_tests_per_thousand: double (nullable = true)
 |-- new_tests_smoothed: double (nullable = true)
 |-- new_tests_smoothed_per_thousand: double (nullable = true)
 |-- positive_rate: double (nullable = true)
 |-- tests_per_case: double (nullable = true)
 |-- tests_units: string (nullable = true)
 |-- total_vaccinations: double (nullable = true)
 |-- people_vaccinated: double (nullable = true)
 |-- people_fully_vaccinated: double (nullable = true)
 |-- total_boosters: double (nullable = true)
 |-- new_vaccinations: double (nullable = true)
 |-- new_vaccinations_smoothed: double (nullable = true)
 |-- total_vaccinations_per_hundred: double (nullable = true)
 |-- people_vaccinated_per_hundred: double (nullable = true)
 |-- people_fully_vaccinated_per_hundred: double (nullable = true)
 |-- total_boosters_per_hundred: double (nullable = true)
 |-- new_vaccinations_smoothed_per_million: double (nullable = true)
 |-- new_people_vaccinated_smoothed: double (nullable = true)
 |-- new_people_vaccinated_smoothed_per_hundred: double (nullable = true)
 |-- stringency_index: double (nullable = true)
 |-- population: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- median_age: double (nullable = true)
 |-- aged_65_older: double (nullable = true)
 |-- aged_70_older: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)
 |-- extreme_poverty: double (nullable = true)
 |-- cardiovasc_death_rate: double (nullable = true)
 |-- diabetes_prevalence: double (nullable = true)
 |-- female_smokers: double (nullable = true)
 |-- male_smokers: double (nullable = true)
 |-- handwashing_facilities: double (nullable = true)
 |-- hospital_beds_per_thousand: double (nullable = true)
 |-- life_expectancy: double (nullable = true)
 |-- human_development_index: double (nullable = true)
 |-- excess_mortality_cumulative_absolute: double (nullable = true)
 |-- excess_mortality_cumulative: double (nullable = true)
 |-- excess_mortality: double (nullable = true)
 |-- excess_mortality_cumulative_per_million: double (nullable = true)

In [ ]:
#Converting a date column
df.select(F.to_date(df.date).alias('date'))

DataFrame[date: date]

In [ ]:
#Summary stats
df.describe().show()

+-------+--------+-------------+-----------+----------+--------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+------------------+--------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|summary|iso_code|    continent|   location|      date|         total_cases|        new_cases|new_cases_smoothed|      total_deaths|       new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million|  reproduction_rate|      icu_patients|icu_patients_per_million|     hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|         new_tests|         total_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|      positive_rate|   tests_per_case|  tests_units|  total_vaccinations|  people_vaccinated|people_fully_vaccinated|      total_boosters|  new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|  stringency_index|         population|population_density|        median_age|    aged_65_older|    aged_70_older|    gdp_per_capita|   extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|    female_smokers|      male_smokers|handwashing_facilities|hospital_beds_per_thousand|  life_expectancy|human_development_index|excess_mortality_cumulative_absolute|excess_mortality_cumulative|  excess_mortality|excess_mortality_cumulative_per_million|
+-------+--------+-------------+-----------+----------+--------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+------------------+--------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|  count|  150857|       141759|     150857|    150857|              148242|           148195|            147044|            131129|           131303|             131171|                 147550|               147503|                        146357|                  130450|                130624|                         130492|             113675|             18465|                   18465|             20289|                    20289|                 4250|                             4250|                  8528|                              8528|             59812|               60004|                   60004|                 59812|             72954|                          72263|              68105|            67443|        74410|               38217|              36717|                  33921|               11549|             31651|                    69662|                         38217|                        36717|                              33921|                     11549|                                69662|                         68526|                                     68526|            117538|             149848|            134303|            125334|           123972|           124661|            125737|             83008|               124347|             130718|             96317|             94929|                 62272|                    112347|           140803|                 123822|                                5206|                       5206|              5206|                                   5206|
|   mean|    null|         null|       null|      null|  2089812.6682046924|8037.315165828807| 7988.216657660397|51992.418618307165|171.2933824817407| 170.81509008088884|     22809.861458130177|    98.82134286082272|             97.93366454628179|      448.77944582599235|     1.633224154826026|             1.6272355699966403| 0.9999744886738422| 869.8192797183862|      22.416289953967034|4085.2333284045544|        159.6067183202714|   1096.6145882352941|                84.74080964705881|      5629.23886022514|                  88.7984981238273|60665.429729820105|1.3773576154139724E7|       587.9857580327961|    2.7255686818698535| 79502.16833895331|              2.596959107703817| 0.0852347566257988|160.3061029313638|         null|1.3525185884556612E8|7.160188495241986E7|    5.258897197393945E7|   6871673.816261148|1132854.2561688414|        527563.5073497746|             60.23070439856627|           33.419098782580434|                  27.35815984198599|         5.031488440557613|                    3438.280482903161|            260441.28603741646|                       0.16898247380556772|55.445585087371526|1.486137791600889E8| 465.3259266732301|30.591234621090404|8.775087116445766|5.542621389206891| 19693.29831391883|13.539820258287161|    259.7893027335195|  8.182787909851163|10.584852850483133|32.756571542944364|      50.8221000610216|        3.0270335745505275|73.59764706717843|     0.7259141751870046|                  33794.450057625785|          8.938369189396857| 16.13213407606607|                      847.2095559264716|
| stddev|    null|         null|       null|      null|1.2390948424856665E7|44598.81813273681|43120.923713893586| 273600.5536522746|834.3335427416229|  815.2692009574089|      37216.91928848518|   307.38786731381924|            219.06556140577138|        712.229958648254|     5.059350286770457|              3.652437174357859|0.34753935509453454|2723.5429249440917|      24.711139679725115|11075.680278087146|       213.30796408074985|   2135.9216288718085|                230.2702998077022|    13851.249307880187|                101.06269309893031| 202263.9004292712| 5.547383635556865E7|       1430.970105337593|     7.398505805914604|330384.90763404465|              6.178938462162921|0.09481924351935835|826.1741977803239|         null| 6.210891072641882E8|3.349320881190066E8|   2.5933542209135082E8|3.0570983240100484E7|4261576.1603211025|       2858070.5507331444|             55.59894835211877|           27.447906139651206|                 25.714712328312544|         9.609269887032939|                    4104.436936732649|            2372608.9817691045|                        0.2700754588557032|20.602831749718572|7.084252510294924E8| 2149.853615756672| 9.101769338347461|6.150569300849298|4.189429892761343|20671.221350724518| 20.00443199599014|   119.80583181910156|  4.456539586577186|10.499053328789921|13.520679587475962|    31.814583130740136|          2.45322112712924|7.490306240656776|    0.14999567630221508|                   95450.02771410761|          16.63448032514659|31.168332244553923|                      1272.860065826044|
|    min|     ABW|       Africa|Afghanistan|2020-01-01|                 1.0|         -74347.0|           -6223.0|               1.0|          -1918.0|           -232.143|                  0.001|            -3125.829|                      -272.971|                     0.0|               -75.911|                        -10.844|              -0.03|               0.0|                     0.0|               0.0|                      0.0|                  0.0|                              0.0|                   0.0|                               0.0|               1.0|                 0.0|                     0.0|                   0.0|               0.0|                            0.0|                0.0|              1.0|people tested|                 0.0|                0.0|                    1.0|                 1.0|               0.0|                      0.0|                           0.0|                          0.0|                                0.0|                       0.0|                                  0.0|                           0.0|                                       0.0|               0.0|               47.0|             0.137|              15.1|            1.144|            0.526|            661.24|               0.1|                79.37|               0.99|               0.1|               7.7|                 1.188|                       0.1|            53.28|                  0.394|                            -31959.4|                     -28.45|            -95.92|                      -1745.05127107414|
|    max|     ZWE|South America|   Zimbabwe|2021-12-29|        2.84530653E8|        1730636.0|         1047995.0|         5422092.0|          18062.0|          14704.714|             295046.151|            51427.491|                      7406.207|                 6070.97|               453.772|                        144.167|               5.92|           28891.0|                 176.791|          133268.0|                 1544.082|              13760.0|                         1481.003|              117656.0|                           645.808|         3740296.0|        7.07388204E8|               20524.002|               534.013|         6042989.0|                         95.131|             0.9704|          50000.0|units unclear|       9.097104632E9|      4.573795231E9|          3.856295888E9|        5.04769303E8|       5.5059824E7|              4.3017942E7|                         321.0|                       122.18|                             118.86|                     79.96|                             117497.0|                  1.00588298E8|                                     11.75|             100.0|       7.87496573E9|         20546.766|              48.2|           27.049|           18.493|          116935.6|              77.6|              724.417|              30.53|              44.0|              78.1|                 100.0|                      13.8|            86.75|                  0.957|                            984309.3|                      115.0|             374.2|                       7912.06751678894|
+-------+--------+-------------+-----------+----------+--------------------+-----------------+------------------+------------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+------------------+--------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+------------------------------------+---------------------------+------------------+---------------------------------------+

In [ ]:
#DataFrame Filtering
df.filter(df.location == "United States").orderBy(F.desc("date")).show()

+--------+-------------+-------------+----------+-----------+---------+------------------+------------+----------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-----------------+------------+------------------------+-------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+---------+------------+------------------------+----------------------+------------------+-------------------------------+-------------+--------------+---------------+------------------+-----------------+-----------------------+--------------+----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+----------------+------------+------------------+----------+-------------+-------------+--------------+---------------+---------------------+-------------------+--------------+------------+----------------------+--------------------------+---------------+-----------------------+------------------------------------+---------------------------+----------------+---------------------------------------+
|iso_code|    continent|     location|      date|total_cases|new_cases|new_cases_smoothed|total_deaths|new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million|reproduction_rate|icu_patients|icu_patients_per_million|hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|new_tests| total_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|positive_rate|tests_per_case|    tests_units|total_vaccinations|people_vaccinated|people_fully_vaccinated|total_boosters|new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|stringency_index|  population|population_density|median_age|aged_65_older|aged_70_older|gdp_per_capita|extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|female_smokers|male_smokers|handwashing_facilities|hospital_beds_per_thousand|life_expectancy|human_development_index|excess_mortality_cumulative_absolute|excess_mortality_cumulative|excess_mortality|excess_mortality_cumulative_per_million|
+--------+-------------+-------------+----------+-----------+---------+------------------+------------+----------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-----------------+------------+------------------------+-------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+---------+------------+------------------------+----------------------+------------------+-------------------------------+-------------+--------------+---------------+------------------+-----------------+-----------------------+--------------+----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+----------------+------------+------------------+----------+-------------+-------------+--------------+---------------+---------------------+-------------------+--------------+------------+----------------------+--------------------------+---------------+-----------------------+------------------------------------+---------------------------+----------------+---------------------------------------+
|     USA|North America|United States|2021-12-29|5.3659688E7| 489267.0|        300886.714|    822892.0|    2184.0|           1546.143|             161181.311|             1469.645|                       903.794|                2471.778|                  6.56|                          4.644|             null|     17611.0|                  52.899|      83973.0|                  252.235|                 null|                             null|               78656.0|                           236.264|     null|        null|                    null|                  null|              null|                           null|         null|          null|           null|      5.06313935E8|     2.43182423E8|           2.04050418E8|   6.7877205E7|             2.0|                 443503.0|                         152.5|                        73.25|                              61.46|                     20.44|                               1336.0|                      124024.0|                                     0.037|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-28|5.3170421E7| 377014.0|        265427.286|    820708.0|    2337.0|           1523.286|             159711.666|             1132.463|                       797.282|                2465.217|                  7.02|                          4.576|             null|     17228.0|                  51.749|      79228.0|                  237.983|                 null|                             null|               72835.0|                            218.78|     null|        null|                    null|                  null|              null|                           null|         null|          null|           null|      5.06313933E8|     2.43182421E8|           2.04050418E8|   6.7877205E7|        157575.0|                 679273.0|                         152.5|                        73.25|                              61.46|                     20.44|                               2046.0|                      184309.0|                                     0.056|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-27|5.2793407E7| 512553.0|          237061.0|    818371.0|    1762.0|           1452.857|             158579.203|             1539.591|                       712.076|                2458.197|                 5.293|                          4.364|             1.56|     17057.0|                  51.235|      74532.0|                  223.877|                 null|                             null|               67924.0|                           204.028|     null|        null|                    null|                  null|              null|                           null|         null|          null|           null|      5.06156358E8|     2.43131543E8|            2.0402899E8|   6.7792556E7|        882326.0|                 909036.0|                        152.45|                        73.23|                              61.45|                     20.42|                               2738.0|                      241103.0|                                     0.073|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-26|5.2280854E7| 181948.0|        198404.714|    816609.0|      76.0|           1408.571|             157039.612|               546.53|                       595.962|                2452.905|                 0.228|                          4.231|             1.51|     16590.0|                  49.833|      69675.0|                  209.288|                 null|                             null|               64543.0|                           193.872|     null|        null|                    null|                  null|              null|                           null|         null|          null|           null|      5.05274032E8|     2.42885569E8|            2.0389074E8|   6.7292763E7|        430949.0|                1023195.0|                        152.19|                        73.16|                              61.41|                     20.27|                               3082.0|                      267566.0|                                     0.081|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-25|5.2098906E7|  56953.0|        184801.714|    816533.0|      97.0|           1421.429|             156493.082|              171.074|                       555.102|                2452.677|                 0.291|                           4.27|             1.45|     16360.0|                  49.142|      66432.0|                  199.546|                 null|                             null|               62258.0|                           187.009|     null|        null|                    null|                  null|              null|                           null|         null|          null|           null|      5.04843083E8|     2.42760071E8|            2.0381673E8|   6.7061221E7|          4299.0|                1047540.0|                        152.06|                        73.12|                              61.39|                      20.2|                               3155.0|                      273673.0|                                     0.082|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-24|5.2041953E7| 227133.0|        187574.286|    816436.0|    1013.0|           1480.571|             156322.008|              682.255|                        563.43|                2452.385|                 3.043|                          4.447|             1.41|     16232.0|                  48.757|      65791.0|                  197.621|                 null|                             null|               61001.0|                           183.233| 906121.0|7.07388204E8|                2124.831|                 2.722|         1349519.0|                          4.054|        0.139|           7.2|tests performed|      5.04838784E8|      2.4275856E8|           2.03816095E8|   6.7059029E7|        337584.0|                1195424.0|                        152.06|                        73.12|                              61.39|                      20.2|                               3601.0|                      313687.0|                                     0.094|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-23| 5.181482E7| 261339.0|        182682.429|    815423.0|    3354.0|             1584.0|             155639.753|              785.002|                       548.736|                2449.342|                10.075|                          4.758|              1.4|     16156.0|                  48.529|      65582.0|                  196.993|                 null|                             null|               59659.0|                           179.202|1440856.0|7.06482083E8|                2122.109|                 4.328|         1495974.0|                          4.494|       0.1221|           8.2|tests performed|        5.045012E8|     2.42662144E8|           2.03766181E8|    6.686633E7|       1291784.0|                1402127.0|                        151.95|                        73.09|                              61.37|                     20.14|                               4223.0|                      360860.0|                                     0.109|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-22|5.1553481E7| 241051.0|        165589.143|    812069.0|    2024.0|           1268.571|             154854.751|              724.062|                       497.392|                2439.268|                  6.08|                           3.81|             1.37|     16258.0|                  48.835|      65044.0|                  195.377|                 null|                             null|               58176.0|                           174.747|1695586.0|7.05041227E8|                2117.781|                 5.093|         1580194.0|                          4.747|       0.1048|           9.5|tests performed|      5.03209416E8|     2.42314253E8|           2.03610577E8|    6.607511E7|       1650392.0|                1441710.0|                        151.57|                        72.98|                              61.33|                      19.9|                               4342.0|                      366341.0|                                      0.11|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-21| 5.131243E7| 178450.0|        151735.429|    810045.0|    1844.0|           1290.429|              154130.69|              536.023|                       455.778|                2433.188|                 5.539|                          3.876|             1.33|     16150.0|                  48.511|      64091.0|                  192.515|                 null|                             null|               57106.0|                           171.533|1694025.0|7.03345641E8|                2112.688|                 5.088|         1633032.0|                          4.905|       0.0929|          10.8|tests performed|      5.01559024E8|     2.41892259E8|           2.03400364E8|   6.5053878E7|       1765917.0|                1434756.0|                        151.07|                        72.86|                              61.26|                     19.59|                               4321.0|                      359915.0|                                     0.108|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-20| 5.113398E7| 241959.0|        142822.286|    808201.0|    1452.0|           1229.857|             153594.667|              726.789|                       429.005|                2427.649|                 4.361|                          3.694|             1.29|     16210.0|                  48.691|      63764.0|                  191.532|                 null|                             null|               56371.0|                           169.325|1340346.0|7.01651616E8|                2107.599|                 4.026|         1664947.0|                          5.001|       0.0858|          11.7|tests performed|      4.99793107E8|     2.41443819E8|           2.03184558E8|   6.3949584E7|       1681439.0|                1411845.0|                        150.54|                        72.72|                               61.2|                     19.26|                               4252.0|                      347953.0|                                     0.105|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|
|     USA|North America|United States|2021-12-19|5.0892021E7|  86727.0|          135009.0|    806749.0|     166.0|           1207.143|             152867.878|              260.508|                       405.536|                2423.288|                 0.499|                          3.626|             1.27|     15983.0|                  48.009|      62700.0|                  188.336|                 null|                             null|               55800.0|                            167.61| 959579.0| 7.0031127E8|                2103.573|                 2.882|         1661155.0|                           4.99|       0.0813|          12.3|tests performed|      4.98111668E8|     2.41012606E8|           2.02979278E8|   6.2901409E7|        601367.0|                1389060.0|                        150.03|                        72.59|                              61.14|                     18.95|                               4184.0|                      335904.0|                                     0.101|            null|3.32915074E8|            35.608|      38.3|       15.413|        9.732|     54225.446|            1.2|              151.089|              10.79|          19.1|        24.6|                  null|                      2.77|          78.86|                  0.926|                                null|                       null|            null|                                   null|

In [ ]:
#Simple Group by Function
df.groupBy("location").sum("new_cases").orderBy(F.desc("sum(new_cases)")).show(truncate=False)

+-------------------+--------------+
|location           |sum(new_cases)|
+-------------------+--------------+
|World              |2.83957866E8  |
|High income        |1.32359003E8  |
|Europe             |8.7160889E7   |
|Upper middle income|8.4879565E7   |
|Asia               |8.3513919E7   |
|Lower middle income|6.5185282E7   |
|North America      |6.37163E7     |
|European Union     |5.5268217E7   |
|United States      |5.3659687E7   |
|South America      |3.9461239E7   |
|India              |3.482204E7    |
|Brazil             |2.2144153E7   |
|United Kingdom     |1.2585924E7   |
|Russia             |1.0279009E7   |
|France             |9973736.0     |
|Africa             |9579371.0     |
|Turkey             |8544144.0     |
|Germany            |7129352.0     |
|Iran               |6190762.0     |
|Spain              |6133057.0     |
+-------------------+--------------+
only showing top 20 rows

# 4. Spark SQL

What I really like about the SQL module is that it's very approachable to interact with your data while still using Spark. There is less to learn since it's basically the same SQL syntax you might already be comfortable with.

In [ ]:
#Creating a table from the dataframe
df.createOrReplaceTempView("covid_data") #temporary view
# df.saveAsTable("covid_data") #Save as a table
# df.write.mode("overwrite").saveAsTable("covid_data") #Save as table and overwrite table if exits

In [ ]:

df2 = spark.sql("SELECT * from covid_data")
df2.printSchema()
df2.show()

root
 |-- iso_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: string (nullable = true)
 |-- total_cases: double (nullable = true)
 |-- new_cases: double (nullable = true)
 |-- new_cases_smoothed: double (nullable = true)
 |-- total_deaths: double (nullable = true)
 |-- new_deaths: double (nullable = true)
 |-- new_deaths_smoothed: double (nullable = true)
 |-- total_cases_per_million: double (nullable = true)
 |-- new_cases_per_million: double (nullable = true)
 |-- new_cases_smoothed_per_million: double (nullable = true)
 |-- total_deaths_per_million: double (nullable = true)
 |-- new_deaths_per_million: double (nullable = true)
 |-- new_deaths_smoothed_per_million: double (nullable = true)
 |-- reproduction_rate: double (nullable = true)
 |-- icu_patients: double (nullable = true)
 |-- icu_patients_per_million: double (nullable = true)
 |-- hosp_patients: double (nullable = true)
 |-- hosp_patients_per_million: double (nullable = true)
 |-- weekly_icu_admissions: double (nullable = true)
 |-- weekly_icu_admissions_per_million: double (nullable = true)
 |-- weekly_hosp_admissions: double (nullable = true)
 |-- weekly_hosp_admissions_per_million: double (nullable = true)
 |-- new_tests: double (nullable = true)
 |-- total_tests: double (nullable = true)
 |-- total_tests_per_thousand: double (nullable = true)
 |-- new_tests_per_thousand: double (nullable = true)
 |-- new_tests_smoothed: double (nullable = true)
 |-- new_tests_smoothed_per_thousand: double (nullable = true)
 |-- positive_rate: double (nullable = true)
 |-- tests_per_case: double (nullable = true)
 |-- tests_units: string (nullable = true)
 |-- total_vaccinations: double (nullable = true)
 |-- people_vaccinated: double (nullable = true)
 |-- people_fully_vaccinated: double (nullable = true)
 |-- total_boosters: double (nullable = true)
 |-- new_vaccinations: double (nullable = true)
 |-- new_vaccinations_smoothed: double (nullable = true)
 |-- total_vaccinations_per_hundred: double (nullable = true)
 |-- people_vaccinated_per_hundred: double (nullable = true)
 |-- people_fully_vaccinated_per_hundred: double (nullable = true)
 |-- total_boosters_per_hundred: double (nullable = true)
 |-- new_vaccinations_smoothed_per_million: double (nullable = true)
 |-- new_people_vaccinated_smoothed: double (nullable = true)
 |-- new_people_vaccinated_smoothed_per_hundred: double (nullable = true)
 |-- stringency_index: double (nullable = true)
 |-- population: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- median_age: double (nullable = true)
 |-- aged_65_older: double (nullable = true)
 |-- aged_70_older: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)
 |-- extreme_poverty: double (nullable = true)
 |-- cardiovasc_death_rate: double (nullable = true)
 |-- diabetes_prevalence: double (nullable = true)
 |-- female_smokers: double (nullable = true)
 |-- male_smokers: double (nullable = true)
 |-- handwashing_facilities: double (nullable = true)
 |-- hospital_beds_per_thousand: double (nullable = true)
 |-- life_expectancy: double (nullable = true)
 |-- human_development_index: double (nullable = true)
 |-- excess_mortality_cumulative_absolute: double (nullable = true)
 |-- excess_mortality_cumulative: double (nullable = true)
 |-- excess_mortality: double (nullable = true)
 |-- excess_mortality_cumulative_per_million: double (nullable = true)

+--------+---------+-----------+----------+-----------+---------+------------------+------------+----------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-----------------+------------+------------------------+-------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+---------+-----------+------------------------+----------------------+------------------+-------------------------------+-------------+--------------+-----------+------------------+-----------------+-----------------------+--------------+----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+----------------+-----------+------------------+----------+-------------+-------------+--------------+---------------+---------------------+-------------------+--------------+------------+----------------------+--------------------------+---------------+-----------------------+------------------------------------+---------------------------+----------------+---------------------------------------+
|iso_code|continent|   location|      date|total_cases|new_cases|new_cases_smoothed|total_deaths|new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million|reproduction_rate|icu_patients|icu_patients_per_million|hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|new_tests|total_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|positive_rate|tests_per_case|tests_units|total_vaccinations|people_vaccinated|people_fully_vaccinated|total_boosters|new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|stringency_index| population|population_density|median_age|aged_65_older|aged_70_older|gdp_per_capita|extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|female_smokers|male_smokers|handwashing_facilities|hospital_beds_per_thousand|life_expectancy|human_development_index|excess_mortality_cumulative_absolute|excess_mortality_cumulative|excess_mortality|excess_mortality_cumulative_per_million|
+--------+---------+-----------+----------+-----------+---------+------------------+------------+----------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+-----------------+------------+------------------------+-------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+---------+-----------+------------------------+----------------------+------------------+-------------------------------+-------------+--------------+-----------+------------------+-----------------+-----------------------+--------------+----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+----------------+-----------+------------------+----------+-------------+-------------+--------------+---------------+---------------------+-------------------+--------------+------------+----------------------+--------------------------+---------------+-----------------------+------------------------------------+---------------------------+----------------+---------------------------------------+
|     AFG|     Asia|Afghanistan|2020-02-24|        5.0|      5.0|              null|        null|      null|               null|                  0.126|                0.126|                          null|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-02-25|        5.0|      0.0|              null|        null|      null|               null|                  0.126|                  0.0|                          null|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-02-26|        5.0|      0.0|              null|        null|      null|               null|                  0.126|                  0.0|                          null|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-02-27|        5.0|      0.0|              null|        null|      null|               null|                  0.126|                  0.0|                          null|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-02-28|        5.0|      0.0|              null|        null|      null|               null|                  0.126|                  0.0|                          null|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-02-29|        5.0|      0.0|             0.714|        null|      null|               null|                  0.126|                  0.0|                         0.018|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|            8.33|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-03-01|        5.0|      0.0|             0.714|        null|      null|               null|                  0.126|                  0.0|                         0.018|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|           27.78|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|
|     AFG|     Asia|Afghanistan|2020-03-02|        5.0|      0.0|               0.0|        null|      null|               null|                  0.126|                  0.0|                           0.0|                    null|                  null|                           null|             null|        null|                    null|         null|                     null|                 null|                             null|                  null|                              null|     null|       null|                    null|                  null|              null|                           null|         null|          null|       null|              null|             null|                   null|          null|            null|                     null|                          null|                         null|                               null|                      null|                                 null|                          null|                                      null|           27.78|3.9835428E7|            54.422|      18.6|        2.581|        1.337|      1803.987|           null|              597.029|               9.59|          null|        null|                37.746|                       0.5|          64.83|                  0.511|                                null|                       null|            null|                                   null|

In [ ]:
groupDF = spark.sql("SELECT location, count(*) from covid_data group by location")
groupDF.show()

+-------------------+--------+
|           location|count(1)|
+-------------------+--------+
|               Chad|     651|
|           Anguilla|     642|
|Lower middle income|     708|
|      International|     692|
|              Macao|     708|
|           Kiribati|     226|
|             Guyana|     658|
|            Eritrea|     649|
|             Jersey|     281|
|           Djibouti|     652|
|               Fiji|     700|
|               Iraq|     675|
|             Europe|     707|
|            Germany|     703|
|            Comoros|     609|
|        Afghanistan|     675|
|           Cambodia|     703|
|             Jordan|     667|
|             France|     706|
|             Greece|     676|
+-------------------+--------+
only showing top 20 rows

# 5. Example with Another Data Set
This data set comes with your Google Colab Session

In [ ]:
df = spark.read.csv("/content/sample_data/california_housing_train.csv", header=True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
#print N rows
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df.count()

17000

In [ ]:
df.select("housing_median_age","total_rooms").show(5)

+------------------+-----------+
|housing_median_age|total_rooms|
+------------------+-----------+
|              15.0|     5612.0|
|              19.0|     7650.0|
|              17.0|      720.0|
|              14.0|     1501.0|
|              20.0|     1454.0|
+------------------+-----------+
only showing top 5 rows

In [ ]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [ ]:
df.select('total_rooms').distinct().show()

+-----------+
|total_rooms|
+-----------+
|      934.0|
|     3980.0|
|     4142.0|
|      596.0|
|     1761.0|
|     5983.0|
|     2815.0|
|     6433.0|
|      299.0|
|     2734.0|
|      769.0|
|     1051.0|
|     7554.0|
|     4066.0|
|     2862.0|
|     3597.0|
|      692.0|
|      720.0|
|     1765.0|
|     2523.0|
+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
test = df.groupBy('total_rooms').agg(F.sum('housing_median_age'))

In [ ]:
test.toPandas()

      total_rooms  sum(housing_median_age)
0           934.0                    135.0
1          3980.0                     25.0
2          4142.0                     37.0
3           596.0                     25.0
4          1761.0                    154.0
...           ...                      ...
5528       3620.0                     18.0
5529        947.0                     62.0
5530        710.0                     52.0
5531         91.0                     43.0
5532       5457.0                     21.0

[5533 rows x 2 columns]

In [ ]:
#Counting and removing missing values

df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|        0|       0|                 0|          0|             0|         0|         0|            0|                 0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

# Creating a Test Spark DataFrame

In [ ]:
data = [
        ('John','Smith',1),
        ('Jane','Smith',2),
        ('Jonas','Smith',3),
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
df

DataFrame[firstname: string, middlename: string, lastname: string, dob: string, gender: string, salary: bigint]

# Spark Tips and Tricks

This is a collection of code snippets for common or tricky tasks

##Pandas DataFrame to Spark DataFrame

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(100,size=(1000, 3)),columns=['A','B','C'])
spark_df = spark.createDataFrame(df)
spark_df.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
| 24| 30| 48|
| 36|  9| 68|
|  3| 59| 45|
| 89| 89| 71|
| 25| 38| 15|
| 17| 19| 47|
| 92| 69|  7|
| 19| 30| 26|
| 90| 88|  3|
| 85| 85| 95|
| 70| 86| 97|
| 81| 22|  0|
| 11| 35| 41|
| 29| 48| 64|
| 79| 86| 34|
| 18| 51| 80|
| 39| 65| 25|
| 25| 40| 83|
| 93| 10| 72|
| 13| 94| 89|
+---+---+---+
only showing top 20 rows

In [ ]:
#Convert Object columns in pandas dataframe to a string
for i in df.select_dtypes(include='object').columns.tolist():
	df[i] = df[i].astype(str)

#Convert datetimes to UTC
  for i in [col for col in df.columns if df[col].dtype == 'datetime64[ns]']:
   df[i] = pd.to_datetime(df[i], utc=True)

#Replace nan and "None" in pandas dataframe to null in the spark dataframe
spark_df = spark.createDataFrame(df).replace('None', None).replace(float('nan'), None)

##Window Functions

In [ ]:
data = [
        (1,'2021-01-01 10:00:00'),
        (1,'2021-01-01 11:00:00'),
        (1,'2021-01-01 12:00:00'),
        (2,'2021-01-01 12:00:00'),
        (2,'2021-01-01 13:00:00'),
        (2,'2021-01-01 14:00:00'),
]

columns = ["id","datetime"]
df = spark.createDataFrame(data=data, schema = columns)
df.createOrReplaceTempView("window_test")
df.show()

+---+-------------------+
| id|           datetime|
+---+-------------------+
|  1|2021-01-01 10:00:00|
|  1|2021-01-01 11:00:00|
|  1|2021-01-01 12:00:00|
|  2|2021-01-01 12:00:00|
|  2|2021-01-01 13:00:00|
|  2|2021-01-01 14:00:00|
+---+-------------------+

In [ ]:
#Selecting the min and max by a specific Group
spark.sql('''
Select
  id,

  max(datetime) OVER (Partition BY id ORDER BY datetime) as max_date,
  min(datetime) OVER (Partition BY id ORDER BY datetime) as min_date,

  ROW_NUMBER() OVER (Partition BY id ORDER BY datetime) as row_number

  FROM window_test

''').show()

+---+-------------------+-------------------+----------+
| id|           max_date|           min_date|row_number|
+---+-------------------+-------------------+----------+
|  1|2021-01-01 10:00:00|2021-01-01 10:00:00|         1|
|  1|2021-01-01 11:00:00|2021-01-01 10:00:00|         2|
|  1|2021-01-01 12:00:00|2021-01-01 10:00:00|         3|
|  2|2021-01-01 12:00:00|2021-01-01 12:00:00|         1|
|  2|2021-01-01 13:00:00|2021-01-01 12:00:00|         2|
|  2|2021-01-01 14:00:00|2021-01-01 12:00:00|         3|
+---+-------------------+-------------------+----------+

In [ ]:
# Selecting the row number or order rank for each row within a specified grouping.
# This is great for sub rankings in a table

spark.sql('''
Select
  id,
  datetime,

  ROW_NUMBER() OVER (Partition BY id ORDER BY datetime) as row_number

  FROM window_test

''').show()

+---+-------------------+----------+
| id|           datetime|row_number|
+---+-------------------+----------+
|  1|2021-01-01 10:00:00|         1|
|  1|2021-01-01 11:00:00|         2|
|  1|2021-01-01 12:00:00|         3|
|  2|2021-01-01 12:00:00|         1|
|  2|2021-01-01 13:00:00|         2|
|  2|2021-01-01 14:00:00|         3|
+---+-------------------+----------+

## De-duplicate data by returning the most recently updated row using a window function

In [ ]:
data = [
        (1,'2021-01-01',100,'A'),
        (1,'2021-01-31',105,'A'),
        (2,'2021-02-04',160,'B'),
        (2,'2021-02-07',145,'B'),
]

columns = ["id","date","score","type"]
df = spark.createDataFrame(data=data, schema = columns)
df.createOrReplaceTempView("window_test")
df.show()

+---+----------+-----+----+
| id|      date|score|type|
+---+----------+-----+----+
|  1|2021-01-01|  100|   A|
|  1|2021-01-31|  105|   A|
|  2|2021-02-04|  160|   B|
|  2|2021-02-07|  145|   B|
+---+----------+-----+----+

In [ ]:
df2 = spark.sql("""
WITH T AS (
  SELECT
  *,
  ROW_NUMBER() OVER (PARTITION BY id ORDER BY date DESC) AS version_number
  FROM window_test
)

SELECT * FROM T WHERE version_number = 1;

""")

df2.show()

+---+----------+-----+----+--------------+
| id|      date|score|type|version_number|
+---+----------+-----+----+--------------+
|  1|2021-01-31|  105|   A|             1|
|  2|2021-02-07|  145|   B|             1|
+---+----------+-----+----+--------------+

In [ ]:
spark.sql("""
  SELECT
  *,
  SUM(score) OVER (PARTITION by type ORDER BY date) as score_cumulative
  FROM window_test

""").show()

+---+----------+-----+----+----------------+
| id|      date|score|type|score_cumulative|
+---+----------+-----+----+----------------+
|  1|2021-01-01|  100|   A|             100|
|  1|2021-01-31|  105|   A|             205|
|  2|2021-02-04|  160|   B|             160|
|  2|2021-02-07|  145|   B|             305|
+---+----------+-----+----+----------------+

## Limit the number of results per group window function

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
np.hstack((
    np.random.randint(1,5,size=(100000, 1)),
    np.random.randint(100,size=(100000, 1))
))
, columns=['company_id', 'number'])

dff = spark.createDataFrame(df)
dff.createOrReplaceTempView("window_test_limits")

In [ ]:
spark.sql("""
WITH T AS (
  SELECT
    company_id,
    number,
    ROW_NUMBER() OVER (PARTITION BY company_id ORDER BY number) AS row_number
  FROM window_test_limits
    )

SELECT * FROM T WHERE row_number <= 100

""").show()

+----------+------+----------+
|company_id|number|row_number|
+----------+------+----------+
|         1|     0|         1|
|         1|     0|         2|
|         1|     0|         3|
|         1|     0|         4|
|         1|     0|         5|
|         1|     0|         6|
|         1|     0|         7|
|         1|     0|         8|
|         1|     0|         9|
|         1|     0|        10|
|         1|     0|        11|
|         1|     0|        12|
|         1|     0|        13|
|         1|     0|        14|
|         1|     0|        15|
|         1|     0|        16|
|         1|     0|        17|
|         1|     0|        18|
|         1|     0|        19|
|         1|     0|        20|
+----------+------+----------+
only showing top 20 rows

## Calculate a 7 day moving average

In [ ]:
df = pd.DataFrame(pd.date_range('1/1/2022','1/31/2022',freq='D'), columns=['date'])
import random
df['company_id'] = 1
df['number'] = df.apply(lambda x: random.randint(0,100), axis = 1)

dff = spark.createDataFrame(df)
dff.createOrReplaceTempView("window_data")

dff.show()

+-------------------+----------+------+
|               date|company_id|number|
+-------------------+----------+------+
|2022-01-01 00:00:00|         1|    34|
|2022-01-02 00:00:00|         1|    39|
|2022-01-03 00:00:00|         1|    82|
|2022-01-04 00:00:00|         1|     2|
|2022-01-05 00:00:00|         1|    71|
|2022-01-06 00:00:00|         1|    35|
|2022-01-07 00:00:00|         1|    50|
|2022-01-08 00:00:00|         1|    11|
|2022-01-09 00:00:00|         1|    57|
|2022-01-10 00:00:00|         1|    19|
|2022-01-11 00:00:00|         1|    60|
|2022-01-12 00:00:00|         1|    10|
|2022-01-13 00:00:00|         1|    45|
|2022-01-14 00:00:00|         1|    32|
|2022-01-15 00:00:00|         1|     8|
|2022-01-16 00:00:00|         1|    92|
|2022-01-17 00:00:00|         1|    85|
|2022-01-18 00:00:00|         1|     5|
|2022-01-19 00:00:00|         1|    36|
|2022-01-20 00:00:00|         1|    61|
+-------------------+----------+------+
only showing top 20 rows

In [ ]:
spark.sql("""
SELECT
  date,
  company_id,
  number,
  AVG(number) OVER (PARTITION BY company_id ORDER BY date ASC RANGE BETWEEN INTERVAL 6 DAYS PRECEDING AND CURRENT ROW) as last_7_day_avg
FROM window_data
""").show()

+-------------------+----------+------+------------------+
|               date|company_id|number|    last_7_day_avg|
+-------------------+----------+------+------------------+
|2022-01-01 00:00:00|         1|    34|              34.0|
|2022-01-02 00:00:00|         1|    39|              36.5|
|2022-01-03 00:00:00|         1|    82|51.666666666666664|
|2022-01-04 00:00:00|         1|     2|             39.25|
|2022-01-05 00:00:00|         1|    71|              45.6|
|2022-01-06 00:00:00|         1|    35|43.833333333333336|
|2022-01-07 00:00:00|         1|    50|44.714285714285715|
|2022-01-08 00:00:00|         1|    11| 41.42857142857143|
|2022-01-09 00:00:00|         1|    57|              44.0|
|2022-01-10 00:00:00|         1|    19|              35.0|
|2022-01-11 00:00:00|         1|    60|43.285714285714285|
|2022-01-12 00:00:00|         1|    10| 34.57142857142857|
|2022-01-13 00:00:00|         1|    45|              36.0|
|2022-01-14 00:00:00|         1|    32| 33.42857142857143|
|2022-01-15 00:00:00|         1|     8|              33.0|
|2022-01-16 00:00:00|         1|    92|              38.0|
|2022-01-17 00:00:00|         1|    85| 47.42857142857143|
|2022-01-18 00:00:00|         1|     5| 39.57142857142857|
|2022-01-19 00:00:00|         1|    36|43.285714285714285|
|2022-01-20 00:00:00|         1|    61| 45.57142857142857|
+-------------------+----------+------+------------------+
only showing top 20 rows

## Monthly Active Users

In [ ]:
import pandas as pd
df = pd.DataFrame(pd.date_range('1/1/2022','1/31/2022',freq='D'), columns=['login_date'])
import random
df['company_id'] = 1
df['user_id'] = df.apply(lambda x: random.randint(0,3), axis = 1)

dff = spark.createDataFrame(df)
dff.createOrReplaceTempView("users_data")

dff.show()

+-------------------+----------+-------+
|         login_date|company_id|user_id|
+-------------------+----------+-------+
|2022-01-01 00:00:00|         1|      1|
|2022-01-02 00:00:00|         1|      3|
|2022-01-03 00:00:00|         1|      3|
|2022-01-04 00:00:00|         1|      2|
|2022-01-05 00:00:00|         1|      2|
|2022-01-06 00:00:00|         1|      2|
|2022-01-07 00:00:00|         1|      3|
|2022-01-08 00:00:00|         1|      2|
|2022-01-09 00:00:00|         1|      2|
|2022-01-10 00:00:00|         1|      0|
|2022-01-11 00:00:00|         1|      3|
|2022-01-12 00:00:00|         1|      2|
|2022-01-13 00:00:00|         1|      0|
|2022-01-14 00:00:00|         1|      0|
|2022-01-15 00:00:00|         1|      3|
|2022-01-16 00:00:00|         1|      0|
|2022-01-17 00:00:00|         1|      0|
|2022-01-18 00:00:00|         1|      3|
|2022-01-19 00:00:00|         1|      2|
|2022-01-20 00:00:00|         1|      1|
+-------------------+----------+-------+
only showing top 20 rows

In [ ]:
#Revisit this transform
spark.sql("""
SELECT
  login_date,
  COUNT(user_id) OVER (PARTITION BY login_date ORDER BY login_date ASC RANGE BETWEEN INTERVAL 30 DAYS PRECEDING AND CURRENT ROW) AS monthly_active_users
  FROM users_data
""").show()

+-------------------+--------------------+
|         login_date|monthly_active_users|
+-------------------+--------------------+
|2022-01-01 00:00:00|                   1|
|2022-01-02 00:00:00|                   1|
|2022-01-03 00:00:00|                   1|
|2022-01-04 00:00:00|                   1|
|2022-01-05 00:00:00|                   1|
|2022-01-06 00:00:00|                   1|
|2022-01-07 00:00:00|                   1|
|2022-01-08 00:00:00|                   1|
|2022-01-09 00:00:00|                   1|
|2022-01-10 00:00:00|                   1|
|2022-01-11 00:00:00|                   1|
|2022-01-12 00:00:00|                   1|
|2022-01-13 00:00:00|                   1|
|2022-01-14 00:00:00|                   1|
|2022-01-15 00:00:00|                   1|
|2022-01-16 00:00:00|                   1|
|2022-01-17 00:00:00|                   1|
|2022-01-18 00:00:00|                   1|
|2022-01-19 00:00:00|                   1|
|2022-01-20 00:00:00|                   1|
+-------------------+--------------------+
only showing top 20 rows

## Find the time difference between related rows using a window function

In [ ]:
data = [
        (1,'start','2021-01-01',100,'A'),
        (1,'end','2021-01-31',200,'A'),
        (2,'start','2021-03-05 4:53:11',100,'A'),
        (2,'end','2021-05-01 05:06:38',200,'A'),
]

columns = ["id","session","datetime","station_return","type"]
df = spark.createDataFrame(data=data, schema = columns)
df.createOrReplaceTempView("window_test")
df.show()

+---+-------+-------------------+--------------+----+
| id|session|           datetime|station_return|type|
+---+-------+-------------------+--------------+----+
|  1|  start|         2021-01-01|           100|   A|
|  1|    end|         2021-01-31|           200|   A|
|  2|  start| 2021-03-05 4:53:11|           100|   A|
|  2|    end|2021-05-01 05:06:38|           200|   A|
+---+-------+-------------------+--------------+----+

In [ ]:
spark.sql('''
SELECT
  id,
  datetime,
  lead(datetime) OVER (PARTITION BY id ORDER BY datetime) as next_datetime,
  DATEDIFF(lead(datetime) OVER (PARTITION BY id ORDER BY datetime),datetime) as duration_in_days

FROM window_test

''').show()

+---+-------------------+-------------------+----------------+
| id|           datetime|      next_datetime|duration_in_days|
+---+-------------------+-------------------+----------------+
|  1|         2021-01-01|         2021-01-31|              30|
|  1|         2021-01-31|               null|            null|
|  2| 2021-03-05 4:53:11|2021-05-01 05:06:38|              57|
|  2|2021-05-01 05:06:38|               null|            null|
+---+-------------------+-------------------+----------------+

## Unpivotting

In [ ]:
from pyspark.sql.types import *


data = [
        ('tim', 10, 9, 8, 5),
        ('john', 5, 6, 3, 6),
        ('jane', 7, 8, 9, 10),

]

schema = StructType([
   StructField("name", StringType(), True),
   StructField("experience", IntegerType(), True),
   StructField("satisfaction", IntegerType(), True),
   StructField("customer_service", IntegerType(), True),
   StructField("speed_of_service", IntegerType(), True)])


df = spark.createDataFrame(data, schema=schema)

df.show()

+----+----------+------------+----------------+----------------+
|name|experience|satisfaction|customer_service|speed_of_service|
+----+----------+------------+----------------+----------------+
| tim|        10|           9|               8|               5|
|john|         5|           6|               3|               6|
|jane|         7|           8|               9|              10|
+----+----------+------------+----------------+----------------+

In [ ]:
cols = ['experience', 'satisfaction', 'customer_service', 'speed_of_service']

exprs = f"""stack({len(cols)}, {", ".join([f"'{i}',{i}" for i in cols])}) as (question,score)"""

unpivotted_df = df.select("name",F.expr(exprs))

unpivotted_df.show()

+----+----------------+-----+
|name|        question|score|
+----+----------------+-----+
| tim|      experience|   10|
| tim|    satisfaction|    9|
| tim|customer_service|    8|
| tim|speed_of_service|    5|
|john|      experience|    5|
|john|    satisfaction|    6|
|john|customer_service|    3|
|john|speed_of_service|    6|
|jane|      experience|    7|
|jane|    satisfaction|    8|
|jane|customer_service|    9|
|jane|speed_of_service|   10|
+----+----------------+-----+

## Replace Values using a Dictionary

In [ ]:
df = (spark
    .createDataFrame([
        (1, 'hello',3),
        (2, 'hello',5),
        (3, 'hello',5),
        (135246, 'hello',4),
        (54936, 'hello',4)
        ],
        ["id", "text","num"]))

In [ ]:
mapping = {
1: 5555,
4:9999
}

In [ ]:
df.replace(mapping,1,'id').replace(mapping,1,'_3').show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:2233: UserWarning: to_replace is a dict and value is not None. value will be ignored.
  warnings.warn("to_replace is a dict and value is not None. value will be ignored.")

+------+-----+----+
|    id| text|  _3|
+------+-----+----+
|  5555|hello|   3|
|     2|hello|   5|
|     3|hello|   5|
|135246|hello|9999|
| 54936|hello|9999|
+------+-----+----+

##Create a Date Range

In [ ]:
date_range_df = spark.sql("SELECT explode(sequence(to_date('2018-01-01'), to_date('2018-03-01'), interval 1 day)) as date")
date_range_df.show()

+----------+
|      date|
+----------+
|2018-01-01|
|2018-01-02|
|2018-01-03|
|2018-01-04|
|2018-01-05|
|2018-01-06|
|2018-01-07|
|2018-01-08|
|2018-01-09|
|2018-01-10|
|2018-01-11|
|2018-01-12|
|2018-01-13|
|2018-01-14|
|2018-01-15|
|2018-01-16|
|2018-01-17|
|2018-01-18|
|2018-01-19|
|2018-01-20|
+----------+
only showing top 20 rows

##Concat Row Values after Grouping

In [ ]:
df = (spark
    .createDataFrame([
        (1, 'hello',3),
        (2, 'hello',5),
        (3, 'hello',5),
        (3, 'hello',5),
        (3, 'hello',5),
        ],
        ["id", "text"]))

df.createOrReplaceTempView("group_array")

df.show()

+---+-----+---+
| id| text| _3|
+---+-----+---+
|  1|hello|  3|
|  2|hello|  5|
|  3|hello|  5|
|  3|hello|  5|
|  3|hello|  5|
+---+-----+---+

In [ ]:
#Return every element
spark.sql("Select g.text, collect_list(g.id) FROM group_array as g GROUP BY 1").show()

+-----+----------------+
| text|collect_list(id)|
+-----+----------------+
|hello| [1, 2, 3, 3, 3]|
+-----+----------------+

In [ ]:
#Return unique list
spark.sql("Select g.text, collect_set(g.id) FROM group_array as g GROUP BY 1").show()

+-----+---------------+
| text|collect_set(id)|
+-----+---------------+
|hello|      [1, 2, 3]|
+-----+---------------+

## Rename Spark Columns with a Dictionary

In [ ]:
col_dict = {
    'id':'ID',
    'test':'hello'
}

#Select only specific columns from a file
df = spark.read.parquet(path).select([k for k in cols_2016])

#rename the columns
for old_name, new_name in col_dict.items():
  df = df.withColumnRenamed(old_name,new_name)

df.createOrReplaceTempView("test")

test.show()

##Read Multiple Parquet Files into one Spark DataFrame

In [ ]:
import glob

parquet_files = glob.glob('/content/*.parquet')
#The * is a wild card

df = spark.read.parquet(*parquet_files)

## Split and get last element in Spark SQL

In [ ]:
spark.sql("""
SELECT
  "This.is.a.test" AS text,
  SPLIT("This.is.a.test",'[\.]') AS split,
  REVERSE(SPLIT("This.is.a.test",'[\.]'))[0] AS last_word
""").show()

NameError: ignored

##Handling NULL Values

In [ ]:
df = (spark
    .createDataFrame([
        (1, 'hello',None),
        (2, 'hello',None),
        (3, 'hello',5),
        (3, 'hello',5),
        (3, 'hello',5),
        ],
        ["id", "text"]))

df.createOrReplaceTempView("group_array")

df.show()

+---+-----+----+
| id| text|  _3|
+---+-----+----+
|  1|hello|null|
|  2|hello|null|
|  3|hello|   5|
|  3|hello|   5|
|  3|hello|   5|
+---+-----+----+

In [ ]:
spark.sql("Select * from group_array where _3 IS NOT NULL").show()

+---+-----+---+
| id| text| _3|
+---+-----+---+
|  3|hello|  5|
|  3|hello|  5|
|  3|hello|  5|
+---+-----+---+

## Using a JDBC Driver

In [ ]:
!pip install JayDeBeApi
import jaydebeapi
import os

#Downlaods JDBC drivers
!wget https://repo1.maven.org/maven2/org/apache/hive/hive-jdbc/2.3.7/hive-jdbc-2.3.7-standalone.jar
!zip -q -d hive-jdbc-2.3.7-standalone.jar org/apache/logging/log4j/core/lookup/JndiLookup.class
!unzip hive-jdbc-2.3.7-standalone.jar > output.txt

!wget https://github.com/timveil/hive-jdbc-uber-jar/releases/download/v1.8-2.6.3/hive-jdbc-uber-2.6.3.0-235.jar


DRIVER_CLASS = 'org.apache.hive.jdbc.HiveDriver'
DRIVER_PATH = 'hive-jdbc-2.3.7-standalone.jar'
ASCEND_ENV = 'trial'
CONN_URL = 'jdbc:'

user = 'admin'
pw = 'admin'

conn = jdbc.connect(DRIVER_CLASS,
                    CONN_URL,
                    [user, pw],
                    DRIVER_PATH)

# Regex

In [ ]:
spark.sql("""
SELECT
  '(5) Strongly Agree',
  regexp_extract('(10) Strongly Agree', '([0-9]+)')
""").show()

+------------------+------------------------------------------------+
|(5) Strongly Agree|regexp_extract((10) Strongly Agree, ([0-9]+), 1)|
+------------------+------------------------------------------------+
|(5) Strongly Agree|                                              10|
+------------------+------------------------------------------------+